/*
Monzo API

The Monzo API is designed to be a predictable and intuitive interface for interacting with users' accounts. We offer both a REST API and webhooks.  The API implements OAuth 2.0 for authentication and provides access to accounts, transactions, pots, and more.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package monzoclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PotsAPIService PotsAPI service
type PotsAPIService service

type ApiDepositIntoPotRequest struct {
	ctx             context.Context
	ApiService      *PotsAPIService
	potId           string
	sourceAccountId *string
	amount          *int64
	dedupeId        *string
}

// The id of the account to withdraw from
func (r ApiDepositIntoPotRequest) SourceAccountId(sourceAccountId string) ApiDepositIntoPotRequest {
	r.sourceAccountId = &sourceAccountId
	return r
}

// The amount to deposit in minor units (pennies)
func (r ApiDepositIntoPotRequest) Amount(amount int64) ApiDepositIntoPotRequest {
	r.amount = &amount
	return r
}

// A unique string used to de-duplicate deposits
func (r ApiDepositIntoPotRequest) DedupeId(dedupeId string) ApiDepositIntoPotRequest {
	r.dedupeId = &dedupeId
	return r
}

func (r ApiDepositIntoPotRequest) Execute() (*Pot, *http.Response, error) {
	return r.ApiService.DepositIntoPotExecute(r)
}

/*
DepositIntoPot Deposit into a pot

Move money from an account into a pot.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param potId The id of the pot
	@return ApiDepositIntoPotRequest
*/
func (a *PotsAPIService) DepositIntoPot(ctx context.Context, potId string) ApiDepositIntoPotRequest {
	return ApiDepositIntoPotRequest{
		ApiService: a,
		ctx:        ctx,
		potId:      potId,
	}
}

// Execute executes the request
//
//	@return Pot
func (a *PotsAPIService) DepositIntoPotExecute(r ApiDepositIntoPotRequest) (*Pot, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Pot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PotsAPIService.DepositIntoPot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pots/{pot_id}/deposit"
	localVarPath = strings.Replace(localVarPath, "{"+"pot_id"+"}", url.PathEscape(parameterValueToString(r.potId, "potId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sourceAccountId == nil {
		return localVarReturnValue, nil, reportError("sourceAccountId is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.dedupeId == nil {
		return localVarReturnValue, nil, reportError("dedupeId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "source_account_id", r.sourceAccountId, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "amount", r.amount, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "dedupe_id", r.dedupeId, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPotsRequest struct {
	ctx              context.Context
	ApiService       *PotsAPIService
	currentAccountId *string
}

// The account id to retrieve pots for
func (r ApiListPotsRequest) CurrentAccountId(currentAccountId string) ApiListPotsRequest {
	r.currentAccountId = &currentAccountId
	return r
}

func (r ApiListPotsRequest) Execute() (*PotsResponse, *http.Response, error) {
	return r.ApiService.ListPotsExecute(r)
}

/*
ListPots List pots

Returns a list of pots owned by the currently authorised user that are associated with the specified account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListPotsRequest
*/
func (a *PotsAPIService) ListPots(ctx context.Context) ApiListPotsRequest {
	return ApiListPotsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PotsResponse
func (a *PotsAPIService) ListPotsExecute(r ApiListPotsRequest) (*PotsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PotsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PotsAPIService.ListPots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.currentAccountId == nil {
		return localVarReturnValue, nil, reportError("currentAccountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "current_account_id", r.currentAccountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWithdrawFromPotRequest struct {
	ctx                  context.Context
	ApiService           *PotsAPIService
	potId                string
	destinationAccountId *string
	amount               *int64
	dedupeId             *string
}

// The id of the account to deposit into
func (r ApiWithdrawFromPotRequest) DestinationAccountId(destinationAccountId string) ApiWithdrawFromPotRequest {
	r.destinationAccountId = &destinationAccountId
	return r
}

// The amount to withdraw in minor units (pennies)
func (r ApiWithdrawFromPotRequest) Amount(amount int64) ApiWithdrawFromPotRequest {
	r.amount = &amount
	return r
}

// A unique string used to de-duplicate withdrawals
func (r ApiWithdrawFromPotRequest) DedupeId(dedupeId string) ApiWithdrawFromPotRequest {
	r.dedupeId = &dedupeId
	return r
}

func (r ApiWithdrawFromPotRequest) Execute() (*Pot, *http.Response, error) {
	return r.ApiService.WithdrawFromPotExecute(r)
}

/*
WithdrawFromPot Withdraw from a pot

Move money from a pot into an account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param potId The id of the pot
	@return ApiWithdrawFromPotRequest
*/
func (a *PotsAPIService) WithdrawFromPot(ctx context.Context, potId string) ApiWithdrawFromPotRequest {
	return ApiWithdrawFromPotRequest{
		ApiService: a,
		ctx:        ctx,
		potId:      potId,
	}
}

// Execute executes the request
//
//	@return Pot
func (a *PotsAPIService) WithdrawFromPotExecute(r ApiWithdrawFromPotRequest) (*Pot, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Pot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PotsAPIService.WithdrawFromPot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pots/{pot_id}/withdraw"
	localVarPath = strings.Replace(localVarPath, "{"+"pot_id"+"}", url.PathEscape(parameterValueToString(r.potId, "potId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.destinationAccountId == nil {
		return localVarReturnValue, nil, reportError("destinationAccountId is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.dedupeId == nil {
		return localVarReturnValue, nil, reportError("dedupeId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "destination_account_id", r.destinationAccountId, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "amount", r.amount, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "dedupe_id", r.dedupeId, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
