openapi: 3.0.3
info:
  contact:
    name: API Specification and Support
    url: https://github.com/up-banking/api
  description: |
    The Up API gives you programmatic access to your balances and
    transaction data. You can request past transactions or set up
    webhooks to receive real-time events when new transactions hit your
    account. It’s new, it’s exciting and it’s just the beginning.
  title: Up API
  version: v1
servers:
- url: https://api.up.com.au/api/v1
security:
- bearer_auth: []
tags:
- description: |
    Accounts represent the underlying store used to track balances
    and the transactions that have occurred to modify those balances
    over time. Up currently has three types of account: `SAVER`—used to
    earn interest and to hit savings goals, `TRANSACTIONAL`—used
    for everyday spending, and `HOME_LOAN`-for those with an Up Home loan.
  name: Accounts
- description: |
    Categories enable understanding where your money goes by driving
    powerful insights in Up. All categories in Up are pre-defined
    and are automatically assigned to new purchases in most cases. A
    parent-child relationship is used to represent categories,
    however parent categories cannot be directly assigned to
    transactions.
  name: Categories
- description: |
    Tags are custom labels that can be associated with transactions
    on Up. Within the Up application, tags provide additional insight
    into spending. For example, you could have a "Take Away" tag that
    you apply to purchases from food delivery services. The Up API
    allows you to manage the tags associated with transactions. Each
    transaction may have up to 6 tags.

    Tags are identified by their labels, which are unique strings,
    so the tag "Holiday" has also the `id` `"Holiday"`.
  name: Tags
- description: |
    Transactions represent the movement of money into and out of an
    account. They have many characteristics that vary depending on
    the kind of transaction. Transactions may be temporarily `HELD`
    (pending) or `SETTLED`, typically depending on which payment
    method was used at the point of sale.
  name: Transactions
- description: |
    Attachments represent uploaded files that are attached to transactions, these are commonly receipts.
  name: Attachments
- description: |
    Some endpoints exist not to expose data, but to test the API
    itself. Currently there is only one endpoint in this group: ping!
  name: Utility endpoints
- description: |
    Webhooks provide a mechanism for a configured URL to receive
    events when transaction activity occurs on Up. You can think of
    webhooks as being like push notifications for your server-side
    application.
  name: Webhooks
paths:
  /accounts:
    get:
      description: |
        Retrieve a paginated list of all accounts for the currently
        authenticated user. The returned list is paginated and can be scrolled
        by following the `prev` and `next` links where present.
      parameters:
      - description: |
          The number of records to return in each page.
        example: 30
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - description: |
          The type of account for which to return records. This
          can be used to filter Savers from spending accounts.
        example: SAVER
        explode: true
        in: query
        name: "filter[accountType]"
        required: false
        schema:
          $ref: '#/components/schemas/AccountTypeEnum'
        style: form
      - description: |
          The account ownership structure for which to return
          records. This can be used to filter 2Up accounts from Up
          accounts.
        example: INDIVIDUAL
        explode: true
        in: query
        name: "filter[ownershipType]"
        required: false
        schema:
          $ref: '#/components/schemas/OwnershipTypeEnum'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:z4qtHErGAZuuouwl
              pathParameters: {}
              queryParameters:
                page[size]: 1
            response:
              data:
              - type: accounts
                id: 5b54e6ef-ecf1-4c49-aa03-2104a490c849
                attributes:
                  displayName: Spending
                  accountType: TRANSACTIONAL
                  ownershipType: INDIVIDUAL
                  balance:
                    currencyCode: AUD
                    value: "1.00"
                    valueInBaseUnits: 100
                  createdAt: 2024-08-06T12:18:29+10:00
                relationships:
                  transactions:
                    links:
                      related: https://api.up.com.au/api/v1/accounts/5b54e6ef-ecf1-4c49-aa03-2104a490c849/transactions
                links:
                  self: https://api.up.com.au/api/v1/accounts/5b54e6ef-ecf1-4c49-aa03-2104a490c849
              links:
                next: https://api.up.com.au/api/v1/accounts?page%5Bafter%5D=WyIyMDI0LTA4LTA2VDAyOjE4OjI5LjMwMzgzOTAwMFoiLCI1YjU0ZTZlZi1lY2YxLTRjNDktYWEwMy0yMTA0YTQ5MGM4NDkiXQ%3D%3D&page%5Bsize%5D=1
      summary: List accounts
      tags:
      - Accounts
  /accounts/{id}:
    get:
      description: |
        Retrieve a specific account by providing its unique identifier.
      parameters:
      - description: |
          The unique identifier for the account.
        example: 7699cfe5-eabd-4855-bbe7-9dfe3f70cebf
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:dvJloDOxw0NWMnzk
              pathParameters:
                id: e647dd54-4d10-41d0-8071-21eb0a3f6214
              queryParameters: {}
            response:
              data:
                type: accounts
                id: e647dd54-4d10-41d0-8071-21eb0a3f6214
                attributes:
                  displayName: 🐷 Savings
                  accountType: SAVER
                  ownershipType: INDIVIDUAL
                  balance:
                    currencyCode: AUD
                    value: "125.36"
                    valueInBaseUnits: 12536
                  createdAt: 2024-08-06T12:18:30+10:00
                relationships:
                  transactions:
                    links:
                      related: https://api.up.com.au/api/v1/accounts/e647dd54-4d10-41d0-8071-21eb0a3f6214/transactions
                links:
                  self: https://api.up.com.au/api/v1/accounts/e647dd54-4d10-41d0-8071-21eb0a3f6214
      summary: Retrieve account
      tags:
      - Accounts
  /attachments:
    get:
      description: |
        Retrieve a list of all attachments. The returned list is [paginated](#pagination) and can
        be scrolled by following the `next` and `prev` links where present.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttachmentsResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:cV5W9g033vq1tYZ4
              pathParameters: {}
              queryParameters: {}
            response:
              data:
              - type: attachments
                id: 23bc06a0-cff4-40ae-bcb3-463fac19b5b0
                attributes:
                  createdAt: 2024-08-06T12:18:31+10:00
                  fileURL: http://localhost:8080/asset/customer_transaction_attachment.jpg?filename=uploads%2Fcustomer_transaction_attachments%2Fmodels%2Fattachment%2Ffile%2F1%2Fattachment.jpg&timestamp=1722910712&token=881b77d17579aa98214271fc29a3e4b4438b937e0e818b0f543fdb5bd921822c
                  fileURLExpiresAt: 2024-08-06T12:33:32+10:00
                  fileExtension: jpg
                  fileContentType: image/jpeg
                relationships:
                  transaction:
                    data:
                      type: transactions
                      id: 9dd0a25a-c5ca-46c6-8e07-420274d5e8fe
                    links:
                      related: https://api.up.com.au/api/v1/transactions/9dd0a25a-c5ca-46c6-8e07-420274d5e8fe
                links:
                  self: https://api.up.com.au/api/v1/attachments/23bc06a0-cff4-40ae-bcb3-463fac19b5b0
              - type: attachments
                id: 86f6e316-691e-48a6-b896-331362bb9b52
                attributes:
                  createdAt: 2024-08-06T12:18:31+10:00
                  fileURL: http://localhost:8080/asset/customer_transaction_attachment.jpg?filename=uploads%2Fcustomer_transaction_attachments%2Fmodels%2Fattachment%2Ffile%2F2%2Fattachment.jpg&timestamp=1722910712&token=a775955e0ae11f61b453dbdc9bd6d06b303a3aa4e6abacdcd1def8e4f8351559
                  fileURLExpiresAt: 2024-08-06T12:33:32+10:00
                  fileExtension: jpg
                  fileContentType: image/jpeg
                relationships:
                  transaction:
                    data:
                      type: transactions
                      id: 40390cc7-8c76-422f-b2a0-7a22c7d1c915
                    links:
                      related: https://api.up.com.au/api/v1/transactions/40390cc7-8c76-422f-b2a0-7a22c7d1c915
                links:
                  self: https://api.up.com.au/api/v1/attachments/86f6e316-691e-48a6-b896-331362bb9b52
              links: {}
      summary: List attachments
      tags:
      - Attachments
  /attachments/{id}:
    get:
      description: |
        Retrieve a specific attachment by providing its unique identifier.
      parameters:
      - description: |
          The unique identifier for the attachment.
        example: 3672d7fb-e56d-4c4a-b546-7c11ddb5e5e7
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAttachmentResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:lfQuAyww8UOTKTD4
              pathParameters:
                id: 4fcb7c00-5332-41bb-ae5a-26b66dda316b
              queryParameters: {}
            response:
              data:
                type: attachments
                id: 4fcb7c00-5332-41bb-ae5a-26b66dda316b
                attributes:
                  createdAt: 2024-08-06T12:18:33+10:00
                  fileURL: http://localhost:8080/asset/customer_transaction_attachment.jpg?filename=uploads%2Fcustomer_transaction_attachments%2Fmodels%2Fattachment%2Ffile%2F5%2Fattachment.jpg&timestamp=1722910713&token=3abc7139ebfbcaee1dc8a37d5bf0bc7d02334857919d7ce6695629bf340afbad
                  fileURLExpiresAt: 2024-08-06T12:33:33+10:00
                  fileExtension: jpg
                  fileContentType: image/jpeg
                relationships:
                  transaction:
                    data:
                      type: transactions
                      id: b416028a-9c12-4716-a759-94913fe4dd49
                    links:
                      related: https://api.up.com.au/api/v1/transactions/b416028a-9c12-4716-a759-94913fe4dd49
                links:
                  self: https://api.up.com.au/api/v1/attachments/4fcb7c00-5332-41bb-ae5a-26b66dda316b
      summary: Retrieve attachment
      tags:
      - Attachments
  /categories:
    get:
      description: |
        Retrieve a list of all categories and their ancestry. The returned list
        is not paginated.
      parameters:
      - description: |
          The unique identifier of a parent category for which to
          return only its children. Providing an invalid category
          identifier results in a `404` response.
        example: good-life
        explode: true
        in: query
        name: "filter[parent]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCategoriesResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:OTFUmA1YX3oq9Mtp
              pathParameters: {}
              queryParameters:
                filter[parent]: good-life
            response:
              data:
              - type: categories
                id: hobbies
                attributes:
                  name: Hobbies
                relationships:
                  parent:
                    data:
                      type: categories
                      id: good-life
                    links:
                      related: https://api.up.com.au/api/v1/categories/good-life
                  children:
                    data: []
                    links:
                      related: https://api.up.com.au/api/v1/categories?filter%5Bparent%5D=hobbies
                links:
                  self: https://api.up.com.au/api/v1/categories/hobbies
              - type: categories
                id: restaurants-and-cafes
                attributes:
                  name: Restaurants & Cafes
                relationships:
                  parent:
                    data:
                      type: categories
                      id: good-life
                    links:
                      related: https://api.up.com.au/api/v1/categories/good-life
                  children:
                    data: []
                    links:
                      related: https://api.up.com.au/api/v1/categories?filter%5Bparent%5D=restaurants-and-cafes
                links:
                  self: https://api.up.com.au/api/v1/categories/restaurants-and-cafes
      summary: List categories
      tags:
      - Categories
  /categories/{id}:
    get:
      description: |
        Retrieve a specific category by providing its unique identifier.
      parameters:
      - description: |
          The unique identifier for the category.
        example: restaurants-and-cafes
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCategoryResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:h3cqAp7XGqD2Jpg4
              pathParameters:
                id: home
              queryParameters: {}
            response:
              data:
                type: categories
                id: home
                attributes:
                  name: Home
                relationships:
                  parent: {}
                  children:
                    data:
                    - type: categories
                      id: groceries
                    links:
                      related: https://api.up.com.au/api/v1/categories?filter%5Bparent%5D=home
                links:
                  self: https://api.up.com.au/api/v1/categories/home
      summary: Retrieve category
      tags:
      - Categories
  /transactions/{transactionId}/relationships/category:
    patch:
      description: |
        Updates the category associated with a transaction. Only transactions
        for which `isCategorizable` is set to true support this operation. The
        `id` is taken from the list exposed on `/categories` and cannot be one of
        the top-level (parent) categories. To de-categorize a transaction, set
        the entire `data` key to `null`. An HTTP `204` is returned on success.
        The associated category, along with its request URL is also exposed via
        the `category` relationship on the transaction resource returned from
        `/transactions/{id}`.
      parameters:
      - description: |
          The unique identifier for the transaction.
        example: 88b4ed70-7f15-4b46-a676-46aafad4c183
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransactionCategoryRequest'
      responses:
        "204":
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:jxaEroUCArojsqOr
                Content-Type: application/json
              pathParameters:
                transactionId: b2372db2-f032-4350-b276-bfe25467087b
              queryParameters: {}
              payload:
                data:
                  type: categories
                  id: restaurants-and-cafes
      summary: Categorize transaction
      tags:
      - Categories
  /util/ping:
    get:
      description: |
        Make a basic ping request to the API. This is useful to verify that
        authentication is functioning correctly. On authentication success an
        HTTP `200` status is returned. On failure an HTTP `401` error response
        is returned.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:qrwv9tQgS76mnS9G
              pathParameters: {}
              queryParameters: {}
            response:
              meta:
                id: f8178615-7fd7-47a6-9a6e-cf62b3313848
                statusEmoji: ⚡️
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Authorized
          x-up:example:
            type: exampleRequestResponse
            request:
              headers: {}
              pathParameters: {}
              queryParameters: {}
            response:
              errors:
              - status: "401"
                title: Not Authorized
                detail: "The request was not authenticated because no valid credential\
                  \ was found in the Authorization header, or the Authorization header\
                  \ was not present."
      summary: Ping
      tags:
      - Utility endpoints
  /tags:
    get:
      description: |
        Retrieve a list of all tags currently in use. The returned list is
        [paginated](#pagination) and can be scrolled by following the `next`
        and `prev` links where present. Results are ordered lexicographically.
        The `transactions` relationship for each tag exposes a link
        to get the transactions with the given tag.
      parameters:
      - description: |
          The number of records to return in each page.
        example: 50
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:bXd8NjT6vO5gfMvG
              pathParameters: {}
              queryParameters:
                page[size]: 2
            response:
              data:
              - type: tags
                id: Holiday
                relationships:
                  transactions:
                    links:
                      related: https://api.up.com.au/api/v1/transactions?filter%5Btag%5D=Holiday
              - type: tags
                id: Pizza Night
                relationships:
                  transactions:
                    links:
                      related: https://api.up.com.au/api/v1/transactions?filter%5Btag%5D=Pizza+Night
              links:
                next: https://api.up.com.au/api/v1/tags?page%5Bafter%5D=WyJQaXp6YSBOaWdodCJd&page%5Bsize%5D=2
      summary: List tags
      tags:
      - Tags
  /transactions/{transactionId}/relationships/tags:
    delete:
      description: |
        Disassociates one or more tags from a specific transaction. Tags that are
        not associated are silently ignored. An HTTP `204` is returned on
        success. The associated tags, along with this request URL, are also
        exposed via the `tags` relationship on the transaction resource returned
        from `/transactions/{id}`.
      parameters:
      - description: |
          The unique identifier for the transaction.
        example: 86aacb90-a718-43f2-bb06-c1e32542ab26
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransactionTagsRequest'
      responses:
        "204":
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:RFntp7VQQkErMliU
                Content-Type: application/json
              pathParameters:
                transactionId: 8f3bd8ef-8d89-4e86-8d10-aa3e61c4afd6
              queryParameters: {}
              payload:
                data:
                - type: tags
                  id: Holiday
                - type: tags
                  id: Queensland
      summary: Remove tags from transaction
      tags:
      - Tags
    post:
      description: |
        Associates one or more tags with a specific transaction. No more than 6
        tags may be present on any single transaction. Duplicate tags are
        silently ignored. An HTTP `204` is returned on success. The associated
        tags, along with this request URL, are also exposed via the `tags`
        relationship on the transaction resource returned from
        `/transactions/{id}`.
      parameters:
      - description: |
          The unique identifier for the transaction.
        example: 6259eac2-feac-417d-893e-84876c575913
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransactionTagsRequest'
      responses:
        "204":
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:UvlljHmCb9A9P78m
                Content-Type: application/json
              pathParameters:
                transactionId: 667fd9d3-05d7-4eb4-b496-a406ca7da08d
              queryParameters: {}
              payload:
                data:
                - type: tags
                  id: Holiday
                - type: tags
                  id: Queensland
      summary: Add tags to transaction
      tags:
      - Tags
  /transactions:
    get:
      description: |
        Retrieve a list of all transactions across all accounts for the currently
        authenticated user. The returned list is [paginated](#pagination) and can
        be scrolled by following the `next` and `prev` links where present. To
        narrow the results to a specific date range pass one or both of
        `filter[since]` and `filter[until]` in the query string. These filter
        parameters **should not** be used for pagination. Results are ordered
        newest first to oldest last.
      parameters:
      - description: |
          The number of records to return in each page.
        example: 30
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - description: |
          The transaction status for which to return records. This
          can be used to filter `HELD` transactions from those
          that are `SETTLED`.
        example: HELD
        explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          $ref: '#/components/schemas/TransactionStatusEnum'
        style: form
      - description: |
          The start date-time from which to return records,
          formatted according to rfc-3339. Not to be used for
          pagination purposes.
        example: 2020-01-01T01:02:03+10:00
        explode: true
        in: query
        name: "filter[since]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          The end date-time up to which to return records,
          formatted according to rfc-3339. Not to be used for
          pagination purposes.
        example: 2020-02-01T01:02:03+10:00
        explode: true
        in: query
        name: "filter[until]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          The category identifier for which to filter transactions.
          Both parent and child categories can be filtered through
          this parameter. Providing an invalid category identifier
          results in a `404` response.
        example: good-life
        explode: true
        in: query
        name: "filter[category]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          A transaction tag to filter for which to return records.
          If the tag does not exist, zero records are returned and
          a success response is given.
        example: Holiday
        explode: true
        in: query
        name: "filter[tag]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:x2IN1pBWVKpwYQ1C
              pathParameters: {}
              queryParameters:
                page[size]: 1
                filter[tag]: Pizza Night
                filter[status]: SETTLED
            response:
              data:
              - type: transactions
                id: e38f484c-276e-4e87-9031-224564067d83
                attributes:
                  status: SETTLED
                  description: David Taylor
                  message: Money for the pizzas last night.
                  isCategorizable: true
                  amount:
                    currencyCode: AUD
                    value: "-59.98"
                    valueInBaseUnits: -5998
                  settledAt: 2024-08-05T05:16:50+10:00
                  createdAt: 2024-08-05T05:16:50+10:00
                  performingCustomer:
                    displayName: Bobby
                relationships:
                  account:
                    data:
                      type: accounts
                      id: b47aa85f-0b67-46b2-a8d4-902f8e8b9d97
                    links:
                      related: https://api.up.com.au/api/v1/accounts/b47aa85f-0b67-46b2-a8d4-902f8e8b9d97
                  transferAccount: {}
                  category:
                    links:
                      self: https://api.up.com.au/api/v1/transactions/e38f484c-276e-4e87-9031-224564067d83/relationships/category
                  parentCategory: {}
                  tags:
                    data:
                    - type: tags
                      id: Pizza Night
                    links:
                      self: https://api.up.com.au/api/v1/transactions/e38f484c-276e-4e87-9031-224564067d83/relationships/tags
                  attachment: {}
                links:
                  self: https://api.up.com.au/api/v1/transactions/e38f484c-276e-4e87-9031-224564067d83
              links: {}
      summary: List transactions
      tags:
      - Transactions
  /transactions/{id}:
    get:
      description: |
        Retrieve a specific transaction by providing its unique identifier.
      parameters:
      - description: |
          The unique identifier for the transaction.
        example: 57a749fd-4fc9-40da-a8d9-ec9cf1d8c9ff
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:zaoUoVWJiy1FHOQ5
              pathParameters:
                id: 20f1a541-356b-4363-aeba-18e21661b8e5
              queryParameters: {}
            response:
              data:
                type: transactions
                id: 20f1a541-356b-4363-aeba-18e21661b8e5
                attributes:
                  status: SETTLED
                  rawText: "WARUNG BEBEK, UBUD INDONES"
                  description: Warung Bebek Bengil
                  isCategorizable: true
                  holdInfo:
                    amount:
                      currencyCode: AUD
                      value: "-107.92"
                      valueInBaseUnits: -10792
                  roundUp:
                    amount:
                      currencyCode: AUD
                      value: "-0.08"
                      valueInBaseUnits: -8
                  amount:
                    currencyCode: AUD
                    value: "-107.92"
                    valueInBaseUnits: -10792
                  foreignAmount:
                    currencyCode: IDR
                    value: "-1053698.77"
                    valueInBaseUnits: -105369877
                  cardPurchaseMethod:
                    method: CARD_ON_FILE
                    cardNumberSuffix: "0001"
                  settledAt: 2024-08-03T04:00:00+10:00
                  createdAt: 2024-08-03T04:00:00+10:00
                  performingCustomer:
                    displayName: Bobby
                relationships:
                  account:
                    data:
                      type: accounts
                      id: 20388753-0ba8-46ab-92f8-d186a9b3e2a8
                    links:
                      related: https://api.up.com.au/api/v1/accounts/20388753-0ba8-46ab-92f8-d186a9b3e2a8
                  transferAccount: {}
                  category:
                    links:
                      self: https://api.up.com.au/api/v1/transactions/20f1a541-356b-4363-aeba-18e21661b8e5/relationships/category
                  parentCategory: {}
                  tags:
                    data: []
                    links:
                      self: https://api.up.com.au/api/v1/transactions/20f1a541-356b-4363-aeba-18e21661b8e5/relationships/tags
                  attachment: {}
                links:
                  self: https://api.up.com.au/api/v1/transactions/20f1a541-356b-4363-aeba-18e21661b8e5
      summary: Retrieve transaction
      tags:
      - Transactions
  /accounts/{accountId}/transactions:
    get:
      description: |
        Retrieve a list of all transactions for a specific account. The returned
        list is [paginated](#pagination) and can be scrolled by following the
        `next` and `prev` links where present. To narrow the results to a
        specific date range pass one or both of `filter[since]` and
        `filter[until]` in the query string. These filter parameters
        **should not** be used for pagination. Results are ordered newest first
        to oldest last.
      parameters:
      - description: |
          The unique identifier for the account.
        example: 689a08de-fa65-4f2d-8b58-e49b17117dc7
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          The number of records to return in each page.
        example: 30
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      - description: |
          The transaction status for which to return records. This
          can be used to filter `HELD` transactions from those
          that are `SETTLED`.
        example: HELD
        explode: true
        in: query
        name: "filter[status]"
        required: false
        schema:
          $ref: '#/components/schemas/TransactionStatusEnum'
        style: form
      - description: |
          The start date-time from which to return records,
          formatted according to rfc-3339. Not to be used for
          pagination purposes.
        example: 2020-01-01T01:02:03+10:00
        explode: true
        in: query
        name: "filter[since]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          The end date-time up to which to return records,
          formatted according to rfc-3339. Not to be used for
          pagination purposes.
        example: 2020-02-01T01:02:03+10:00
        explode: true
        in: query
        name: "filter[until]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          The category identifier for which to filter transactions.
          Both parent and child categories can be filtered through
          this parameter. Providing an invalid category identifier
          results in a `404` response.
        example: good-life
        explode: true
        in: query
        name: "filter[category]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          A transaction tag to filter for which to return records.
          If the tag does not exist, zero records are returned and
          a success response is given.
        example: Holiday
        explode: true
        in: query
        name: "filter[tag]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:k6Zc7WP5K3WuBcLc
              pathParameters:
                accountId: bccfbe8a-8d06-415d-b6fb-9f4e4507a3c2
              queryParameters:
                page[size]: 1
                filter[status]: HELD
                filter[category]: good-life
            response:
              data:
              - type: transactions
                id: 08e78dd1-539c-40cc-a124-2af02e078d20
                attributes:
                  status: HELD
                  rawText: Spotify 0123456789
                  description: Spotify
                  isCategorizable: true
                  holdInfo:
                    amount:
                      currencyCode: AUD
                      value: "-11.95"
                      valueInBaseUnits: -1195
                  amount:
                    currencyCode: AUD
                    value: "-11.95"
                    valueInBaseUnits: -1195
                  createdAt: 2024-08-03T08:09:59+10:00
                  performingCustomer:
                    displayName: Bobby
                relationships:
                  account:
                    data:
                      type: accounts
                      id: bccfbe8a-8d06-415d-b6fb-9f4e4507a3c2
                    links:
                      related: https://api.up.com.au/api/v1/accounts/bccfbe8a-8d06-415d-b6fb-9f4e4507a3c2
                  transferAccount: {}
                  category:
                    data:
                      type: categories
                      id: tv-and-music
                    links:
                      self: https://api.up.com.au/api/v1/transactions/08e78dd1-539c-40cc-a124-2af02e078d20/relationships/category
                      related: https://api.up.com.au/api/v1/categories/tv-and-music
                  parentCategory:
                    data:
                      type: categories
                      id: good-life
                    links:
                      related: https://api.up.com.au/api/v1/categories/good-life
                  tags:
                    data: []
                    links:
                      self: https://api.up.com.au/api/v1/transactions/08e78dd1-539c-40cc-a124-2af02e078d20/relationships/tags
                  attachment: {}
                links:
                  self: https://api.up.com.au/api/v1/transactions/08e78dd1-539c-40cc-a124-2af02e078d20
              links: {}
      summary: List transactions by account
      tags:
      - Transactions
  /webhooks:
    get:
      description: |
        Retrieve a list of configured webhooks. The returned list is
        [paginated](#pagination) and can be scrolled by following the `next`
        and `prev` links where present. Results are ordered oldest first to
        newest last.
      parameters:
      - description: |
          The number of records to return in each page.
        example: 30
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhooksResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:sGbPklakZzGRpyN8
              pathParameters: {}
              queryParameters:
                page[size]: 1
            response:
              data:
              - type: webhooks
                id: 906ffa4f-9ce2-4e24-838b-c0f2ac1941d9
                attributes:
                  url: http://example.com/webhook-1
                  description: Webhook number 1
                  createdAt: 2024-08-04T12:19:01+10:00
                relationships:
                  logs:
                    links:
                      related: https://api.up.com.au/api/v1/webhooks/906ffa4f-9ce2-4e24-838b-c0f2ac1941d9/logs
                links:
                  self: https://api.up.com.au/api/v1/webhooks/906ffa4f-9ce2-4e24-838b-c0f2ac1941d9
              links:
                next: https://api.up.com.au/api/v1/webhooks?page%5Bafter%5D=WyIyMDI0LTA4LTA0VDAyOjE5OjAxLjE3MDA3ODAwMFoiLCI5MDZmZmE0Zi05Y2UyLTRlMjQtODM4Yi1jMGYyYWMxOTQxZDkiXQ%3D%3D&page%5Bsize%5D=1
      summary: List webhooks
      tags:
      - Webhooks
    post:
      callbacks:
        Event:
          '{webhookURL}':
            post:
              description: |
                Once you have created a webhook in the Up API, events are sent to the
                webhook’s configured URL as JSON-encoded `POST` requests. The webhook
                URL must respond with a HTTP `200` status on success.

                It is important that the URL responds in a timely manner. If the URL
                takes too long to respond (currently 30s), the request will be timed
                out. For this reason it is strongly advised to avoid any heavy
                processing before a response has been returned from the URL. A common
                solution to this problem is to use a message broker such as RabbitMQ
                to do the work asynchronously.

                Event delivery is retried with exponential backoff in the case of any
                non-`200` response status, if the URL is unreachable, or if the request
                is timed out.

                Refer to the `eventType` attribute in order to determine what course of
                action to take when handling the event. The following event types are
                currently sent:

                **`PING`**

                Manually triggered by calls to the webhook `ping` endpoint. Used for
                testing and debugging purposes.

                **`TRANSACTION_CREATED`**

                Triggered whenever a new transaction is created in Up. This event
                includes a `transaction` relationship that provides the unique
                identifier for the transaction and a link to the transaction within the
                Up API. This link should be used to retrieve the complete transaction
                data.

                **`TRANSACTION_SETTLED`**

                Triggered whenever a transaction transitions from the `HELD` status to
                the `SETTLED` status. This event includes a `transaction` relationship
                that provides the unique identifier for the transaction and a link to
                the transaction within the Up API. This link should be used to retrieve
                the complete transaction data.

                Due to external factors in banking processes, on rare occasions this
                event may not be triggered. Separate `TRANSACTION_DELETED` and
                `TRANSACTION_CREATED` events will be received in its place.

                **`TRANSACTION_DELETED`**

                Triggered whenever a `HELD` transaction is deleted from Up. This
                generally occurs for example when a hotel deposit is returned. This
                event includes a `transaction` relationship that provides the unique
                identifier for the transaction, however no link is provided to the
                transaction within the Up API as it no longer exists.

                ## Securing Webhook Event Handlers

                Incoming webhook event requests include a `X-Up-Authenticity-Signature`
                header, which can be used to verify that the event was sent by Up.
                Verification of the signature requires knowledge of the shared
                `secretKey` that was returned upon creation of the webhook. This key is
                known only to your application and to Up.

                The verification process involves:

                1. Taking the raw, unparsed webhook event request body.
                2. Computing the SHA-256 HMAC signature of the request body, using the
                   shared `secretKey`.
                3. Comparing the computed HMAC signature with the value of the
                   `X-Up-Authenticity-Signature` header.

                If the computed SHA-256 HMAC signature matches the
                `X-Up-Authenticity-Signature` header, the request is valid.

                A few language-specific examples follow.

                **Ruby**:

                This example uses the Ruby on Rails framework.

                ```ruby
                require 'openssl'

                def handle_webhook_event
                  received_signature =
                    request.headers['X-Up-Authenticity-Signature']

                  signature = OpenSSL::HMAC.hexdigest(
                    'SHA256',
                    secret_key,
                    request.raw_post,
                  )

                  if Rack::Utils.secure_compare(received_signature, signature)
                    # Process webhook event
                  end
                end
                ```

                **PHP**:

                This example uses the Laravel framework.

                ```php
                public function handleWebhookEvent(Request $request) {
                    $received_signature = $request->header(
                        'X-Up-Authenticity-Signature',
                        ''
                    );
                    $raw_body = $request->getContent();
                    $signature = hash_hmac('sha256', $raw_body, $this->secretKey);

                    if (hash_equals($signature, $received_signature)) {
                        // Process webhook event
                    }
                }
                ```

                **Go**:

                This example is in plain Go.

                ```go
                import (
                    "crypto/hmac"
                    "crypto/sha256"
                    "encoding/hex"
                    "io"
                    "net/http"
                )

                func handleWebhookEvent(w http.ResponseWriter, r *http.Request) {
                    receivedSignature, _ := hex.DecodeString(
                        r.Header.Get("X-Up-Authenticity-Signature"),
                    )

                    mac := hmac.New(sha256.New, secretKey)
                    io.Copy(mac, r.Body)
                    signature := mac.Sum(nil)

                    if hmac.Equal(signature, receivedSignature)
                        // Process webhook event
                    }
                }
                ```

                If the `secretKey` for a webhook is lost, simply create a new webhook
                with the same URL, capture the returned `secretKey` and delete the
                original webhook.
              operationId: event_webhookURLPost
              parameters:
              - description: |
                  The SHA-256 HMAC signature of the raw request body, signed using
                  the `secretKey` of the webhook.
                example: 317c0a8ea81df3f53c1d2aef5dcbf60492d0df557197b2990e71daa4a0693364
                explode: false
                in: header
                name: X-Up-Authenticity-Signature
                required: false
                schema:
                  type: string
                style: simple
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookEventCallback'
              responses:
                "200":
                  description: Successful Response
              summary: Handling webhook events
              x-up:example:
                type: examplePayload
                payload:
                  data:
                    type: webhook-events
                    id: 32e730bd-752d-4ae8-a8e2-bab115c72b6d
                    attributes:
                      eventType: TRANSACTION_CREATED
                      createdAt: 2024-08-06T12:19:02+10:00
                    relationships:
                      webhook:
                        data:
                          type: webhooks
                          id: 135017b5-2585-4564-ac7d-040043d51667
                        links:
                          related: https://api.up.com.au/api/v1/webhooks/135017b5-2585-4564-ac7d-040043d51667
                      transaction:
                        data:
                          type: transactions
                          id: 516f5342-2d25-47b1-a46c-40466ddae069
                        links:
                          related: https://api.up.com.au/api/v1/transactions/516f5342-2d25-47b1-a46c-40466ddae069
              x-callback-request: true
      description: |
        Create a new webhook with a given URL. The URL will receive webhook
        events as JSON-encoded `POST` requests. The URL must respond with a HTTP
        `200` status on success.

        There is currently a limit of 10 webhooks at any given time. Once this
        limit is reached, existing webhooks will need to be deleted before new
        webhooks can be created.

        Event delivery is retried with exponential backoff if the URL is
        unreachable or it does not respond with a `200` status. The response
        includes a `secretKey` attribute, which is used to sign requests sent to
        the webhook URL. It will not be returned from any other endpoints within
        the Up API. If the `secretKey` is lost, simply create a new webhook with
        the same URL, capture its `secretKey` and then delete the original
        webhook. See [Handling webhook events](#callback_post_webhookURL) for
        details on how to process webhook events.

        It is probably a good idea to test the webhook by
        [sending it a `PING` event](#post_webhooks_webhookId_ping) after creating
        it.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWebhookResponse'
          description: Created
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:Ai3k0uTDg9UbsMSn
                Content-Type: application/json
              pathParameters: {}
              queryParameters: {}
              payload:
                data:
                  attributes:
                    url: http://example.com/webhook
                    description: Example webhook
            response:
              data:
                type: webhooks
                id: e1dc11ce-c175-4c43-a969-6f8ffc8adc5b
                attributes:
                  url: http://example.com/webhook
                  description: Example webhook
                  secretKey: EIY19vc8Z7n4Ub58Ex13RxKfsnLyZ6pwwT6wyuv4WboOgvA3xW33BZpkxLDb5hfQ
                  createdAt: 2024-08-06T12:19:01+10:00
                relationships:
                  logs:
                    links:
                      related: https://api.up.com.au/api/v1/webhooks/e1dc11ce-c175-4c43-a969-6f8ffc8adc5b/logs
                links:
                  self: https://api.up.com.au/api/v1/webhooks/e1dc11ce-c175-4c43-a969-6f8ffc8adc5b
      summary: Create webhook
      tags:
      - Webhooks
  /webhooks/{id}:
    delete:
      description: |
        Delete a specific webhook by providing its unique identifier. Once
        deleted, webhook events will no longer be sent to the configured URL.
      parameters:
      - description: |
          The unique identifier for the webhook.
        example: be530308-60e2-489b-9c73-ab0db6fd132d
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:AICm0MfozWEhnfci
              pathParameters:
                id: daf513b4-7c2c-441b-a77c-3b2b63f260f9
              queryParameters: {}
      summary: Delete webhook
      tags:
      - Webhooks
    get:
      description: |
        Retrieve a specific webhook by providing its unique identifier.
      parameters:
      - description: |
          The unique identifier for the webhook.
        example: 48984142-bb60-4fd9-8db2-ed72cfc2a0ba
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookResponse'
          description: Successful Response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:Jdn3RtGUFDxYfTkp
              pathParameters:
                id: 362f41e4-c750-40ed-8bec-73ecca1e65e1
              queryParameters: {}
            response:
              data:
                type: webhooks
                id: 362f41e4-c750-40ed-8bec-73ecca1e65e1
                attributes:
                  url: http://example.com/webhook-2
                  description: Webhook number 2
                  createdAt: 2024-08-05T12:19:03+10:00
                relationships:
                  logs:
                    links:
                      related: https://api.up.com.au/api/v1/webhooks/362f41e4-c750-40ed-8bec-73ecca1e65e1/logs
                links:
                  self: https://api.up.com.au/api/v1/webhooks/362f41e4-c750-40ed-8bec-73ecca1e65e1
      summary: Retrieve webhook
      tags:
      - Webhooks
  /webhooks/{webhookId}/ping:
    post:
      description: |
        Send a `PING` event to a webhook by providing its unique identifier.
        This is useful for testing and debugging purposes. The event is delivered
        asynchronously and its data is returned in the response to this request.
      parameters:
      - description: |
          The unique identifier for the webhook.
        example: ca59a175-79fa-4467-867f-b0cf582ee6bd
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEventCallback'
          description: Successful response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:3aQCtgODipPleMHV
                Content-Type: application/json
              pathParameters:
                webhookId: 2649c1f0-b03b-4c21-bb85-331d53644305
              queryParameters: {}
              payload: ""
            response:
              data:
                type: webhook-events
                id: 973606bb-ad40-426d-9bd8-d76ab70cd038
                attributes:
                  eventType: PING
                  createdAt: 2024-08-06T12:19:06+10:00
                relationships:
                  webhook:
                    data:
                      type: webhooks
                      id: 2649c1f0-b03b-4c21-bb85-331d53644305
                    links:
                      related: https://api.up.com.au/api/v1/webhooks/2649c1f0-b03b-4c21-bb85-331d53644305
      summary: Ping webhook
      tags:
      - Webhooks
  /webhooks/{webhookId}/logs:
    get:
      description: |
        Retrieve a list of delivery logs for a webhook by providing its unique
        identifier. This is useful for analysis and debugging purposes. The
        returned list is [paginated](#pagination) and can be scrolled by
        following the `next` and `prev` links where present. Results are ordered
        newest first to oldest last. Logs may be automatically purged after a
        period of time.
      parameters:
      - description: |
          The unique identifier for the webhook.
        example: e579c0fe-62e7-47de-b436-4b1dfe110b35
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          The number of records to return in each page.
        example: 30
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhookDeliveryLogsResponse'
          description: Successful response
          x-up:example:
            type: exampleRequestResponse
            request:
              headers:
                Authorization: Bearer up:demo:jzQH9GsHMtCmwyr8
              pathParameters:
                webhookId: cce901e8-e10b-4d4d-a615-f1902e4736d4
              queryParameters:
                page[size]: 1
            response:
              data:
              - type: webhook-delivery-logs
                id: 03743de3-1dc8-4893-b1b0-86ab5d613c5b
                attributes:
                  request:
                    body: "{\"data\":{\"type\":\"webhook-events\",\"id\":\"011308c1-861c-4d04-ba85-f867eadf202d\"\
                      ,\"attributes\":{\"eventType\":\"TRANSACTION_CREATED\",\"createdAt\"\
                      :\"2024-08-05T12:20:07+10:00\"},\"relationships\":{\"webhook\"\
                      :{\"data\":{\"type\":\"webhooks\",\"id\":\"cce901e8-e10b-4d4d-a615-f1902e4736d4\"\
                      },\"links\":{\"related\":\"https://api.up.com.au/api/v1/webhooks/cce901e8-e10b-4d4d-a615-f1902e4736d4\"\
                      }},\"transaction\":{\"data\":{\"type\":\"transactions\",\"id\"\
                      :\"169c1684-45c7-41c1-95fa-97082b319e6c\"},\"links\":{\"related\"\
                      :\"https://api.up.com.au/api/v1/transactions/169c1684-45c7-41c1-95fa-97082b319e6c\"\
                      }}}}}"
                  response:
                    statusCode: 200
                    body: "{\"ok\":true}"
                  deliveryStatus: DELIVERED
                  createdAt: 2024-08-05T12:20:07+10:00
                relationships:
                  webhookEvent:
                    data:
                      type: webhook-events
                      id: 011308c1-861c-4d04-ba85-f867eadf202d
              links:
                next: https://api.up.com.au/api/v1/webhooks/cce901e8-e10b-4d4d-a615-f1902e4736d4/logs?page%5Bafter%5D=WyIyMDI0LTA4LTA1VDAyOjIwOjA3Ljk2MjMzODAwMFoiLCIwMzc0M2RlMy0xZGM4LTQ4OTMtYjFiMC04NmFiNWQ2MTNjNWIiXQ%3D%3D&page%5Bsize%5D=1
      summary: List webhook logs
      tags:
      - Webhooks
components:
  schemas:
    AccountTypeEnum:
      description: |
        Specifies the type of bank account. Currently returned values are
        `SAVER`, `TRANSACTIONAL` and `HOME_LOAN`.
      enum:
      - SAVER
      - TRANSACTIONAL
      - HOME_LOAN
      type: string
    OwnershipTypeEnum:
      description: |
        Specifies the structure under which a bank account is owned. Currently
        returned values are `INDIVIDUAL` and `JOINT`.
      enum:
      - INDIVIDUAL
      - JOINT
      type: string
    MoneyObject:
      description: |
        Provides information about a value of money.
      properties:
        currencyCode:
          description: |
            The ISO 4217 currency code.
          type: string
        value:
          description: |
            The amount of money, formatted as a string in the relevant currency.
            For example, for an Australian dollar value of $10.56, this field will
            be `"10.56"`. The currency symbol is not included in the string.
          type: string
        valueInBaseUnits:
          description: |
            The amount of money in the smallest denomination for the currency, as a
            64-bit integer.  For example, for an Australian dollar value of $10.56,
            this field will be `1056`.
          type: integer
      required:
      - currencyCode
      - value
      - valueInBaseUnits
      type: object
    AccountResource:
      description: |
        Provides information about an Up bank account.
      example:
        relationships:
          transactions:
            links:
              related: related
        attributes:
          ownershipType: ""
          createdAt: 2000-01-23T04:56:07.000+00:00
          balance: ""
          displayName: displayName
          accountType: ""
        links:
          self: self
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `accounts`"
          type: string
        id:
          description: |
            The unique identifier for this account.
          type: string
        attributes:
          $ref: '#/components/schemas/AccountResource_attributes'
        relationships:
          $ref: '#/components/schemas/AccountResource_relationships'
        links:
          $ref: '#/components/schemas/AccountResource_links'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    ListAccountsResponse:
      description: |
        Successful response to get all accounts. This returns a paginated list of
        accounts, which can be scrolled by following the `prev` and `next` links
        if present.
      example:
        data:
        - relationships:
            transactions:
              links:
                related: related
          attributes:
            ownershipType: ""
            createdAt: 2000-01-23T04:56:07.000+00:00
            balance: ""
            displayName: displayName
            accountType: ""
          links:
            self: self
          id: id
          type: type
        - relationships:
            transactions:
              links:
                related: related
          attributes:
            ownershipType: ""
            createdAt: 2000-01-23T04:56:07.000+00:00
            balance: ""
            displayName: displayName
            accountType: ""
          links:
            self: self
          id: id
          type: type
        links:
          next: next
          prev: prev
      properties:
        data:
          description: |
            The list of accounts returned in this response.
          items:
            $ref: '#/components/schemas/AccountResource'
          type: array
        links:
          $ref: '#/components/schemas/ListAccountsResponse_links'
      required:
      - data
      - links
      type: object
    GetAccountResponse:
      description: |
        Successful response to get a single account.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/AccountResource'
          description: |
            The account returned in this response.
      required:
      - data
      type: object
    AttachmentResource:
      example:
        relationships:
          transaction:
            data:
              id: id
              type: type
            links:
              related: related
        attributes:
          createdAt: 2000-01-23T04:56:07.000+00:00
          fileURLExpiresAt: 2000-01-23T04:56:07.000+00:00
          fileExtension: fileExtension
          fileURL: fileURL
          fileContentType: fileContentType
        links:
          self: self
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `attachments`"
          type: string
        id:
          description: |
            The unique identifier for this attachment.
          type: string
        attributes:
          $ref: '#/components/schemas/AttachmentResource_attributes'
        relationships:
          $ref: '#/components/schemas/AttachmentResource_relationships'
        links:
          $ref: '#/components/schemas/AccountResource_links'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    ListAttachmentsResponse:
      description: |
        Successful response to get all attachments. This returns a paginated list of
        attachments, which can be scrolled by following the `prev` and `next` links if
        present.
      example:
        data:
        - relationships:
            transaction:
              data:
                id: id
                type: type
              links:
                related: related
          attributes:
            createdAt: 2000-01-23T04:56:07.000+00:00
            fileURLExpiresAt: 2000-01-23T04:56:07.000+00:00
            fileExtension: fileExtension
            fileURL: fileURL
            fileContentType: fileContentType
          links:
            self: self
          id: id
          type: type
        - relationships:
            transaction:
              data:
                id: id
                type: type
              links:
                related: related
          attributes:
            createdAt: 2000-01-23T04:56:07.000+00:00
            fileURLExpiresAt: 2000-01-23T04:56:07.000+00:00
            fileExtension: fileExtension
            fileURL: fileURL
            fileContentType: fileContentType
          links:
            self: self
          id: id
          type: type
        links:
          next: next
          prev: prev
      properties:
        data:
          description: |
            The list of attachments returned in this response.
          items:
            $ref: '#/components/schemas/AttachmentResource'
          type: array
        links:
          $ref: '#/components/schemas/ListAccountsResponse_links'
      required:
      - data
      - links
      type: object
    GetAttachmentResponse:
      description: |
        Successful response to get a single attachment.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/AttachmentResource'
          description: |
            The attachment returned in this response.
      required:
      - data
      type: object
    CategoryResource:
      description: |
        Provides information about a category and its ancestry.
      example:
        relationships:
          parent:
            data:
              id: id
              type: type
            links:
              related: related
          children:
            data:
            - id: id
              type: type
            - id: id
              type: type
            links:
              related: related
        attributes:
          name: name
        links:
          self: self
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `categories`"
          type: string
        id:
          description: |
            The unique identifier for this category. This is a human-readable but
            URL-safe value.
          type: string
        attributes:
          $ref: '#/components/schemas/CategoryResource_attributes'
        relationships:
          $ref: '#/components/schemas/CategoryResource_relationships'
        links:
          $ref: '#/components/schemas/AccountResource_links'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    ListCategoriesResponse:
      description: |
        Successful response to get all categories and their ancestry. The
        returned list is not paginated.
      example:
        data:
        - relationships:
            parent:
              data:
                id: id
                type: type
              links:
                related: related
            children:
              data:
              - id: id
                type: type
              - id: id
                type: type
              links:
                related: related
          attributes:
            name: name
          links:
            self: self
          id: id
          type: type
        - relationships:
            parent:
              data:
                id: id
                type: type
              links:
                related: related
            children:
              data:
              - id: id
                type: type
              - id: id
                type: type
              links:
                related: related
          attributes:
            name: name
          links:
            self: self
          id: id
          type: type
      properties:
        data:
          description: |
            The list of categories returned in this response.
          items:
            $ref: '#/components/schemas/CategoryResource'
          type: array
      required:
      - data
      type: object
    GetCategoryResponse:
      description: |
        Successful response to get a single category and its ancestry.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/CategoryResource'
          description: |
            The category returned in this response.
      required:
      - data
      type: object
    CategoryInputResourceIdentifier:
      description: |
        Uniquely identifies a category in the API.
      properties:
        type:
          description: "The type of this resource: `categories`"
          type: string
        id:
          description: |
            The unique identifier of the category, as returned by the `/categories`
            endpoint.
          type: string
      required:
      - id
      - type
      type: object
    UpdateTransactionCategoryRequest:
      description: |
        Request to update the category associated with a transaction.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/CategoryInputResourceIdentifier'
          description: |
            The category to set on the transaction. Set this entire key to `null`
            de-categorize a transaction.
          nullable: true
      required:
      - data
      type: object
    PingResponse:
      description: |
        Basic ping response to verify authentication.
      example:
        meta:
          id: id
          statusEmoji: statusEmoji
      properties:
        meta:
          $ref: '#/components/schemas/PingResponse_meta'
      required:
      - meta
      type: object
    ErrorObject:
      description: |
        Provides information about an error processing a request.
      example:
        detail: detail
        source:
          pointer: pointer
          parameter: parameter
        title: title
        status: status
      properties:
        status:
          description: |
            The HTTP status code associated with this error. This can also be
            obtained from the response headers. The status indicates the broad type
            of error according to HTTP semantics.
          type: string
        title:
          description: |
            A short description of this error. This should be stable across
            multiple occurrences of this type of error and typically expands on the
            reason for the status code.
          type: string
        detail:
          description: |
            A detailed description of this error. This should be considered unique
            to individual occurrences of an error and subject to change. It is
            useful for debugging purposes.
          type: string
        source:
          $ref: '#/components/schemas/ErrorObject_source'
      required:
      - detail
      - status
      - title
      type: object
    ErrorResponse:
      description: |
        Generic error response that returns one or more errors.
      example:
        errors:
        - detail: detail
          source:
            pointer: pointer
            parameter: parameter
          title: title
          status: status
        - detail: detail
          source:
            pointer: pointer
            parameter: parameter
          title: title
          status: status
      properties:
        errors:
          description: |
            The list of errors returned in this response.
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
      required:
      - errors
      type: object
    TagResource:
      description: |
        Provides information about a tag.
      example:
        relationships:
          transactions:
            links:
              related: related
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `tags`"
          type: string
        id:
          description: |
            The label of the tag, which also acts as the tag’s unique identifier.
          type: string
        relationships:
          $ref: '#/components/schemas/AccountResource_relationships'
      required:
      - id
      - relationships
      - type
      type: object
    ListTagsResponse:
      description: |
        Successful response to get all tags. This returns a paginated list of
        tags, which can be scrolled by following the `prev` and `next` links if
        present.
      example:
        data:
        - relationships:
            transactions:
              links:
                related: related
          id: id
          type: type
        - relationships:
            transactions:
              links:
                related: related
          id: id
          type: type
        links:
          next: next
          prev: prev
      properties:
        data:
          description: |
            The list of tags returned in this response.
          items:
            $ref: '#/components/schemas/TagResource'
          type: array
        links:
          $ref: '#/components/schemas/ListAccountsResponse_links'
      required:
      - data
      - links
      type: object
    TagInputResourceIdentifier:
      description: |
        Uniquely identifies a single tag in the API.
      example:
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `tags`"
          type: string
        id:
          description: |
            The label of the tag, which also acts as the tag’s unique identifier.
          type: string
      required:
      - id
      - type
      type: object
    UpdateTransactionTagsRequest:
      description: |
        Request to add or remove tags associated with a transaction.
      example:
        data:
        - id: id
          type: type
        - id: id
          type: type
      properties:
        data:
          description: |
            The tags to add to or remove from the transaction.
          items:
            $ref: '#/components/schemas/TagInputResourceIdentifier'
          type: array
      required:
      - data
      type: object
    TransactionStatusEnum:
      description: |
        Specifies which stage of processing a transaction is currently at.
        Currently returned values are `HELD` and `SETTLED`. When a transaction is
        held, its account’s `availableBalance` is affected. When a transaction is
        settled, its account’s `currentBalance` is affected.
      enum:
      - HELD
      - SETTLED
      type: string
    HoldInfoObject:
      description: |
        Provides information about the amount at which a transaction was in the
        `HELD` status.
      properties:
        amount:
          allOf:
          - $ref: '#/components/schemas/MoneyObject'
          description: |
            The amount of this transaction while in the `HELD` status, in
            Australian dollars.
        foreignAmount:
          allOf:
          - $ref: '#/components/schemas/MoneyObject'
          description: |
            The foreign currency amount of this transaction while in the `HELD`
            status. This field will be `null` for domestic transactions. The amount
            was converted to the AUD amount reflected in the `amount` field.
          nullable: true
      required:
      - amount
      - foreignAmount
      type: object
    RoundUpObject:
      description: |
        Provides information about how a Round Up was applied, such as whether or
        not a boost was included in the Round Up.
      properties:
        amount:
          allOf:
          - $ref: '#/components/schemas/MoneyObject'
          description: |
            The total amount of this Round Up, including any boosts, represented as
            a negative value.
        boostPortion:
          allOf:
          - $ref: '#/components/schemas/MoneyObject'
          description: |
            The portion of the Round Up `amount` owing to boosted Round Ups,
            represented as a negative value. If no boost was added to the Round Up
            this field will be `null`.
          nullable: true
      required:
      - amount
      - boostPortion
      type: object
    CashbackObject:
      description: |
        Provides information about an instant reimbursement in the form of
        cashback.
      properties:
        description:
          description: |
            A brief description of why this cashback was paid.
          type: string
        amount:
          allOf:
          - $ref: '#/components/schemas/MoneyObject'
          description: |
            The total amount of cashback paid, represented as a positive value.
      required:
      - amount
      - description
      type: object
    CardPurchaseMethodEnum:
      description: |
        Specifies the type of card charge.
      enum:
      - BAR_CODE
      - OCR
      - CARD_PIN
      - CARD_DETAILS
      - CARD_ON_FILE
      - ECOMMERCE
      - MAGNETIC_STRIPE
      - CONTACTLESS
      type: string
    CardPurchaseMethodObject:
      description: |
        Provides information about the card used for a transaction.
      properties:
        method:
          allOf:
          - $ref: '#/components/schemas/CardPurchaseMethodEnum'
          description: |
            The type of card purchase.
        cardNumberSuffix:
          description: |
            The last four digits of the card used for the purchase, if applicable.
          nullable: true
          type: string
      required:
      - cardNumberSuffix
      - method
      type: object
    NoteObject:
      description: |
        Provides information about the note and attachement.
      properties:
        text:
          description: |
            A text note about the transaction.
          type: string
      required:
      - text
      type: object
    CustomerObject:
      description: |
        Provides information about the customer who initiated a transaction
      properties:
        displayName:
          description: |
            The Upname or preferred name of the customer
          type: string
      required:
      - displayName
      type: object
    TransactionResource:
      example:
        relationships:
          attachment:
            data:
              id: id
              type: type
            links:
              related: related
          transferAccount:
            data:
              id: id
              type: type
            links:
              related: related
          parentCategory:
            data:
              id: id
              type: type
            links:
              related: related
          category:
            data:
              id: id
              type: type
            links:
              related: related
              self: self
          account:
            data:
              id: id
              type: type
            links:
              related: related
          tags:
            data:
            - id: id
              type: type
            - id: id
              type: type
            links:
              self: self
        attributes:
          performingCustomer: ""
          note: ""
          amount: ""
          isCategorizable: true
          cardPurchaseMethod: ""
          description: description
          message: message
          cashback: ""
          foreignAmount: ""
          holdInfo: ""
          transactionType: transactionType
          createdAt: 2000-01-23T04:56:07.000+00:00
          rawText: rawText
          settledAt: 2000-01-23T04:56:07.000+00:00
          roundUp: ""
          status: ""
        links:
          self: self
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `transactions`"
          type: string
        id:
          description: |
            The unique identifier for this transaction.
          type: string
        attributes:
          $ref: '#/components/schemas/TransactionResource_attributes'
        relationships:
          $ref: '#/components/schemas/TransactionResource_relationships'
        links:
          $ref: '#/components/schemas/AccountResource_links'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    ListTransactionsResponse:
      description: |
        Successful response to get all transactions. This returns a paginated
        list of transactions, which can be scrolled by following the `prev` and
        `next` links if present.
      example:
        data:
        - relationships:
            attachment:
              data:
                id: id
                type: type
              links:
                related: related
            transferAccount:
              data:
                id: id
                type: type
              links:
                related: related
            parentCategory:
              data:
                id: id
                type: type
              links:
                related: related
            category:
              data:
                id: id
                type: type
              links:
                related: related
                self: self
            account:
              data:
                id: id
                type: type
              links:
                related: related
            tags:
              data:
              - id: id
                type: type
              - id: id
                type: type
              links:
                self: self
          attributes:
            performingCustomer: ""
            note: ""
            amount: ""
            isCategorizable: true
            cardPurchaseMethod: ""
            description: description
            message: message
            cashback: ""
            foreignAmount: ""
            holdInfo: ""
            transactionType: transactionType
            createdAt: 2000-01-23T04:56:07.000+00:00
            rawText: rawText
            settledAt: 2000-01-23T04:56:07.000+00:00
            roundUp: ""
            status: ""
          links:
            self: self
          id: id
          type: type
        - relationships:
            attachment:
              data:
                id: id
                type: type
              links:
                related: related
            transferAccount:
              data:
                id: id
                type: type
              links:
                related: related
            parentCategory:
              data:
                id: id
                type: type
              links:
                related: related
            category:
              data:
                id: id
                type: type
              links:
                related: related
                self: self
            account:
              data:
                id: id
                type: type
              links:
                related: related
            tags:
              data:
              - id: id
                type: type
              - id: id
                type: type
              links:
                self: self
          attributes:
            performingCustomer: ""
            note: ""
            amount: ""
            isCategorizable: true
            cardPurchaseMethod: ""
            description: description
            message: message
            cashback: ""
            foreignAmount: ""
            holdInfo: ""
            transactionType: transactionType
            createdAt: 2000-01-23T04:56:07.000+00:00
            rawText: rawText
            settledAt: 2000-01-23T04:56:07.000+00:00
            roundUp: ""
            status: ""
          links:
            self: self
          id: id
          type: type
        links:
          next: next
          prev: prev
      properties:
        data:
          description: |
            The list of transactions returned in this response.
          items:
            $ref: '#/components/schemas/TransactionResource'
          type: array
        links:
          $ref: '#/components/schemas/ListAccountsResponse_links'
      required:
      - data
      - links
      type: object
    GetTransactionResponse:
      description: |
        Successful response to get a single transaction.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/TransactionResource'
          description: |
            The transaction returned in this response.
      required:
      - data
      type: object
    WebhookResource:
      description: |
        Provides information about a webhook.
      example:
        relationships:
          logs:
            links:
              related: related
        attributes:
          createdAt: 2000-01-23T04:56:07.000+00:00
          secretKey: secretKey
          description: description
          url: url
        links:
          self: self
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `webhooks`"
          type: string
        id:
          description: |
            The unique identifier for this webhook.
          type: string
        attributes:
          $ref: '#/components/schemas/WebhookResource_attributes'
        relationships:
          $ref: '#/components/schemas/WebhookResource_relationships'
        links:
          $ref: '#/components/schemas/AccountResource_links'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    ListWebhooksResponse:
      description: |
        Successful response to get all webhooks. This returns a paginated list of
        webhooks, which can be scrolled by following the `prev` and `next` links
        if present.
      example:
        data:
        - relationships:
            logs:
              links:
                related: related
          attributes:
            createdAt: 2000-01-23T04:56:07.000+00:00
            secretKey: secretKey
            description: description
            url: url
          links:
            self: self
          id: id
          type: type
        - relationships:
            logs:
              links:
                related: related
          attributes:
            createdAt: 2000-01-23T04:56:07.000+00:00
            secretKey: secretKey
            description: description
            url: url
          links:
            self: self
          id: id
          type: type
        links:
          next: next
          prev: prev
      properties:
        data:
          description: |
            The list of webhooks returned in this response.
          items:
            $ref: '#/components/schemas/WebhookResource'
          type: array
        links:
          $ref: '#/components/schemas/ListAccountsResponse_links'
      required:
      - data
      - links
      type: object
    WebhookInputResource:
      description: |
        Represents a webhook specified as request input.
      properties:
        attributes:
          $ref: '#/components/schemas/WebhookInputResource_attributes'
      required:
      - attributes
      type: object
    CreateWebhookRequest:
      description: |
        Request to create a new webhook. This currently only requires a `url`
        attribute.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/WebhookInputResource'
          description: |
            The webhook resource to create.
      required:
      - data
      type: object
    CreateWebhookResponse:
      description: |
        Successful response after creating a webhook.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/WebhookResource'
          description: |
            The webhook that was created.
      required:
      - data
      type: object
    WebhookEventTypeEnum:
      description: |
        Specifies the type of a webhook event. This can be used to determine what
        action to take in response to the event, such as which relationships to
        expect.
      enum:
      - TRANSACTION_CREATED
      - TRANSACTION_SETTLED
      - TRANSACTION_DELETED
      - PING
      type: string
    WebhookEventResource:
      description: |
        Provides the event data used in asynchronous webhook event callbacks to
        subscribed endpoints. Webhooks events have defined `eventType`s and may
        optionally relate to other resources within the Up API.
      properties:
        type:
          description: "The type of this resource: `webhook-events`"
          type: string
        id:
          description: |
            The unique identifier for this event. This will remain constant across
            delivery retries.
          type: string
        attributes:
          $ref: '#/components/schemas/WebhookEventResource_attributes'
        relationships:
          $ref: '#/components/schemas/WebhookEventResource_relationships'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    WebhookEventCallback:
      description: |
        Asynchronous callback request used for webhook event delivery.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/WebhookEventResource'
          description: |
            The webhook event data sent to the subscribed webhook.
      required:
      - data
      type: object
    GetWebhookResponse:
      description: |
        Successful response to get a single webhook.
      example:
        data: ""
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/WebhookResource'
          description: |
            The webhook returned in this response.
      required:
      - data
      type: object
    WebhookDeliveryStatusEnum:
      description: |
        Specifies the nature of the success or failure of a webhook delivery
        attempt to the subscribed webhook URL. The currently returned values are
        described below:

        - **`DELIVERED`**: The event was delivered to the webhook URL
          successfully and a `200` response was received.
        - **`UNDELIVERABLE`**: The webhook URL was not reachable, or timed out.
        - **`BAD_RESPONSE_CODE`**: The event was delivered to the webhook URL
          but a non-`200` response was received.
      enum:
      - DELIVERED
      - UNDELIVERABLE
      - BAD_RESPONSE_CODE
      type: string
    WebhookDeliveryLogResource:
      description: |
        Provides historical webhook event delivery information for analysis and
        debugging purposes.
      example:
        relationships:
          webhookEvent:
            data:
              id: id
              type: type
        attributes:
          request:
            body: body
          createdAt: 2000-01-23T04:56:07.000+00:00
          response:
            body: body
            statusCode: 0
          deliveryStatus: ""
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `webhook-delivery-logs`"
          type: string
        id:
          description: |
            The unique identifier for this log entry.
          type: string
        attributes:
          $ref: '#/components/schemas/WebhookDeliveryLogResource_attributes'
        relationships:
          $ref: '#/components/schemas/WebhookDeliveryLogResource_relationships'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    ListWebhookDeliveryLogsResponse:
      description: |
        Successful response to get all delivery logs for a webhook. This returns
        a paginated list of delivery logs, which can be scrolled by following the
        `next` and `prev` links if present.
      example:
        data:
        - relationships:
            webhookEvent:
              data:
                id: id
                type: type
          attributes:
            request:
              body: body
            createdAt: 2000-01-23T04:56:07.000+00:00
            response:
              body: body
              statusCode: 0
            deliveryStatus: ""
          id: id
          type: type
        - relationships:
            webhookEvent:
              data:
                id: id
                type: type
          attributes:
            request:
              body: body
            createdAt: 2000-01-23T04:56:07.000+00:00
            response:
              body: body
              statusCode: 0
            deliveryStatus: ""
          id: id
          type: type
        links:
          next: next
          prev: prev
      properties:
        data:
          description: |
            The list of delivery logs returned in this response.
          items:
            $ref: '#/components/schemas/WebhookDeliveryLogResource'
          type: array
        links:
          $ref: '#/components/schemas/ListAccountsResponse_links'
      required:
      - data
      - links
      type: object
    AccountResource_attributes:
      example:
        ownershipType: ""
        createdAt: 2000-01-23T04:56:07.000+00:00
        balance: ""
        displayName: displayName
        accountType: ""
      properties:
        displayName:
          description: |
            The name associated with the account in the Up application.
          type: string
        accountType:
          allOf:
          - $ref: '#/components/schemas/AccountTypeEnum'
          description: |
            The bank account type of this account.
        ownershipType:
          allOf:
          - $ref: '#/components/schemas/OwnershipTypeEnum'
          description: |
            The ownership structure for this account.
        balance:
          allOf:
          - $ref: '#/components/schemas/MoneyObject'
          description: |
            The available balance of the account, taking into account any amounts
            that are currently on hold.
        createdAt:
          description: |
            The date-time at which this account was first opened.
          format: date-time
          type: string
      required:
      - accountType
      - balance
      - createdAt
      - displayName
      - ownershipType
      type: object
    AccountResource_relationships_transactions_links:
      example:
        related: related
      properties:
        related:
          description: |
            The link to retrieve the related resource(s) in this relationship.
          type: string
      required:
      - related
      type: object
    AccountResource_relationships_transactions:
      example:
        links:
          related: related
      properties:
        links:
          $ref: '#/components/schemas/AccountResource_relationships_transactions_links'
      type: object
    AccountResource_relationships:
      example:
        transactions:
          links:
            related: related
      properties:
        transactions:
          $ref: '#/components/schemas/AccountResource_relationships_transactions'
      required:
      - transactions
      type: object
    AccountResource_links:
      example:
        self: self
      properties:
        self:
          description: |
            The canonical link to this resource within the API.
          type: string
      required:
      - self
      type: object
    ListAccountsResponse_links:
      example:
        next: next
        prev: prev
      properties:
        prev:
          description: |
            The link to the previous page in the results. If this value is `null`
            there is no previous page.
          nullable: true
          type: string
        next:
          description: |
            The link to the next page in the results. If this value is `null`
            there is no next page.
          nullable: true
          type: string
      required:
      - next
      - prev
      type: object
    AttachmentResource_attributes:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        fileURLExpiresAt: 2000-01-23T04:56:07.000+00:00
        fileExtension: fileExtension
        fileURL: fileURL
        fileContentType: fileContentType
      properties:
        createdAt:
          description: |
            The date-time when the file was created.
          format: date-time
          nullable: true
          type: string
        fileURL:
          description: |
            A temporary link to download the file.
          nullable: true
          type: string
        fileURLExpiresAt:
          description: |
            The date-time at which the `fileURL` link expires.
          format: date-time
          type: string
        fileExtension:
          description: |
            File extension for the uploaded attachment.
          nullable: true
          type: string
        fileContentType:
          description: |
            Content type for the uploaded attachment.
          nullable: true
          type: string
      required:
      - createdAt
      - fileContentType
      - fileExtension
      - fileURL
      - fileURLExpiresAt
      type: object
    AttachmentResource_relationships_transaction_data:
      example:
        id: id
        type: type
      properties:
        type:
          description: "The type of this resource: `transactions`"
          type: string
        id:
          description: |
            The unique identifier of the resource within its type.
          type: string
      required:
      - id
      - type
      type: object
    AttachmentResource_relationships_transaction:
      example:
        data:
          id: id
          type: type
        links:
          related: related
      properties:
        data:
          $ref: '#/components/schemas/AttachmentResource_relationships_transaction_data'
        links:
          $ref: '#/components/schemas/AccountResource_relationships_transactions_links'
      required:
      - data
      type: object
    AttachmentResource_relationships:
      example:
        transaction:
          data:
            id: id
            type: type
          links:
[...]
